
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="p.lodz.pl/themes/custom/politechnika/favicon.ico">

	<title>Starter Template for Bootstrap</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

	<!-- Bootstrap core CSS -->


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<!-- Custom styles for this template -->
	<link href="starter-template.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark  fixed-top bg-color" style="background-color: #8b0002;">
	<a class="navbar-brand" href="#">
		<img src="https://www.p.lodz.pl/arch/sites/default/files/pliki/logo-pl_2.jpg" height="50" class="d-inline-block align-top" alt="">
	</a>


	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Platform Controller <span class="sr-only">(current)</span></a>
			</li>


		</ul>

	</div>
</nav>

<main role="main" class="container">
</br>
	</br>
	</br>
	</br>
	<table>

		<tr><td></td>
			<td><b>Test mode<b></td>
			<td></td>
		</tr>
		<tr>
			<td>
				Training program 1
			</td>
			<td>
			</td>
			<td>
				<a href="/prog1"><button type="button" class="btn btn-danger">START</button></a>
			</td>
		</tr>
		<tr>
			<td>
				Training program 2
			</td>
			<td>
			</td>
			<td>
				<a href="/prog2"><button type="button" class="btn btn-danger">START</button></a>
			</td>
		</tr>
		<tr>
			<td>
				Training program 3
			</td>
			<td>
			</td>
			<td>
				<a href="/prog3"><button type="button" class="btn btn-danger">START</button></a>
			</td>
		</tr>

	</table>
<br>
	<br>
	<table>
		<tbody>
		<tr>
			<td> </td>
			<td><b>Manual control</b></td>
			<td> </td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td>Vibration</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/vib/start"><button type="button" class="btn btn-warning">ON</button></a></td>
			<td>&nbsp;</td>
			<td><a href="/vib/stop"><button type="button" class="btn btn-warning">OFF</button></a></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><a href="/halt"><button type="button" class="btn btn-danger">STOP</button></a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>Channel1</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><a href="/acc1/up"><button type="button" class="btn btn-info">UP</button></a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><a href="/acc1/down"><button type="button" class="btn btn-info">DOWN</button></a></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Channel2</td>
			<td>&nbsp;</td>
			<td>Channel3</td>
		</tr>
		<tr>
			<td><a href="/acc3/up"><button type="button" class="btn btn-info">UP</button></a></td>
			<td>&nbsp;</td>
			<td><a href="/acc2/up"><button type="button" class="btn btn-info">UP</button></a></td>
		</tr>
		<tr>
			<td><a href="/acc3/down"><button type="button" class="btn btn-info">DOWN</button></a></td>
			<td>&nbsp;</td>
			<td><a href="/acc2/down"><button type="button" class="btn btn-info">DOWN</button></a></td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td>All channels</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><a href="/all/up"><button type="button" class="btn btn-success">UP</button></a></td>
			<td>&nbsp;</td>
			<td><a href="/all/down"><button type="button" class="btn btn-success">DOWN</button></a></td>
		</tr>
		<tr>

			<td><a href="/calibration"><button type="button" class="btn btn-success">Calibration</button></a></td>
			<td>&nbsp;</td>
			<td><a href="/TimeToMaxDown"><button type="button" class="btn btn-success">Max Time</button></a></td>

		</tr>
		</tbody>
	</table>
	
	</div>

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
